player-connection-mode=Listen
player-connection-guid=831291294
player-connection-debug=0
player-connection-project-name=soccerAI
player-connection-ip=192.168.1.180
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6a08c1aa87884a3284dcc6c9ee137ead
